*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:black;
    background-color: goldenrod;
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
    font-size: 50px;
    border: solid;
    border-radius: 10px;
}

/*Creating the numbers*/
.number{
    border: solid 4px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-top: 18px;
    padding-left: 18px;
    font-size: 30px;
    color: white;
    display: inline-block;
    margin-left: 25%;
    margin-right: 3%;
}

/*Link to next website page*/
.nextpage{
    color: black;
    background-color: goldenrod;
    border: solid 2px;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    font-size: xx-large;
    margin-left: 34%;
    margin-right: 25%;
}

/*Link to display the descriptions on the page*/
.link{
    display: inline-block;
    font-size: x-large;
    padding: 10px 10px 10px;
    border: solid;
    width: fit-content;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(162, 162, 162);
}

/*Descriptions*/
.linktext{
    display: inline-block;
    font-size: large;
    padding: 10px 10px 10px;
    border: solid;
    width: fit-content;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-right: 25%;
    margin-left: 25%;
}

button{
    align-content: center;
    text-decoration: underline;
    background-color: goldenrod;
}
